name: update dependencies

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '1 6 * * *' # daily at 05:01 UTC


concurrency: buildpack_update

jobs:
  update:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: update
        uses: paketo-buildpacks/github-config/actions/buildpack/update@main
        with:
          buildpack_toml_path: meta-buildpack/buildpack.toml
          package_toml_path: meta-buildpack/package.toml
          no_cnb_registry: true
      - id: commit
        uses: paketo-buildpacks/github-config/actions/pull-request/create-commit@main
        with:
          message: "chore(deps): update meta-buildpack"
          pathspec: "."
      - if: ${{ steps.commit.outputs.commit_sha != '' && steps.update.outputs.semver_bump != '<none>'}}
        uses: paketo-buildpacks/github-config/actions/pull-request/push-branch@main
        with:
          branch: main